.wordsBlock{
  position: absolute;
  inset: 35vh 0 auto 0;
  margin: auto;

  width: 70vw;
  overflow-y: hidden;

  display: flex;
  align-items: start;
  flex-wrap: wrap;

  background: transparent;
}

.startBox{
  position: absolute;
  inset: 40vh 0 auto 0;
  margin: auto;

  width: 70vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.startBox h2{
  font: 500 20px "Google Sans Code", monospace;
  color: hsl(0, 0%, 80%);
}

.wordsBlock h2{
  font: 500 30px "Google Sans Code", monospace;
  color: hsl(0, 0%, 50%);
}

.word{
  display: flex;
}

.typedWords h2{
  font: 500 30px "Google Sans Code", monospace;
  color: white;
}

.results{
  position: absolute;
  inset: 32vh 0 auto 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.results h2{
  font: 500 20px "Google Sans Code", monospace;
  color: hsl(0, 0%, 80%);
}
.results button{
  z-index: 5;
  position: absolute;
  inset: 0 30vw 0 auto;
  margin: auto;
  height: 50px;
  width: 100px;
  font: 500 20px "Google Sans Code", monospace;
  color: hsl(0, 0%, 80%);
  background: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}
.results button:hover{
  color: hsl(0, 0%, 20%);
  background-color: hsl(45, 100%, 50%);
}
.results h3{
  font: 500 15px "Google Sans Code", monospace;
  color: hsl(0, 0%, 80%);
}
