.wordsBlock, .typedWords{
  position: absolute;
  inset: 35vh 0 auto 0;
  margin: auto;

  width: 70vw;
  overflow-y: hidden;

  display: flex;
  align-items: start;
  flex-wrap: wrap;

  background: transparent;
}

.wordsBlock h2{
  font: 500 30px "Google Sans Code", monospace;
  color: hsl(0, 0%, 50%);
}

.typedWords h2{
  font: 500 30px "Google Sans Code", monospace;
  color: white;
}
