.navbar{
  position: absolute;
  width: 100vw;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h2{
  font: 500 1.25rem "Google Sans Code", sans-serif;
  color: hsl(45, 100%, 50%);

  padding-left: 20px;
  cursor: pointer;
}

.navRight{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}
